/* Add a black background color to the top navigation */
.topnav {
    background-color: green;
    overflow: hidden;
}

/* Style the links inside the navigation bar */
.topnav a {
    float: left;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 12px;
}

/* Change the color of links on hover */
.topnav a:hover {
    background-color: #ddd;
    color: black;
}

/* Hide the link that should open and close the topnav on small screens */
.topnav .icon {
    display: none;
}

.icon-bar {
    width: 100px; /* Set a specific width */
    background-color: #555; /* Dark-grey background */
}

.icon-bar a {
    display: block; /* Make the links appear below each other instead of side-by-side */
    text-align: center; /* Center-align text */
    padding: 5px; /* Add some padding */
    transition: all 0.3s ease; /* Add transition for hover effects */
    color: white; /* White text color */
    font-size: 27px; /* Increased font-size */
}
.icon-bar a p{
	font-size: 12px; /* Increased font-size */
	font-style: plain;
}

.icon-bar a:hover {
    background-color: #000; /* Add a hover color */
}

.active {
    background-color: #4CAF50; /* Add an active/current color */
}

.work-area{
	width:80%;
	height:80%;
	position: absolute;
	top:10%;
	left:110px;
	border: 1px solid #369;
}

.lblUsuario {
	position: relative;
	bottom:1px;
	padding-left:50%;
	font-style: bold;
    background-color: green; /* Dark-grey background */
}